@model List<Arch.EntityLayer.Entities.BlogPost>

@{
    ViewBag.Title = "ContentArena";
    Layout = "~/Views/Shared/_CustomerLayout.cshtml";
}


<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>AdminLTE 3 | User Profile</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Font Awesome -->
    <link rel="stylesheet" href="/AdminLTE-3.0.4/plugins/fontawesome-free/css/all.min.css">
    <!-- Ionicons -->
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="/AdminLTE-3.0.4/dist/css/adminlte.min.css">
    <!-- Google Font: Source Sans Pro -->
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">
</head>

<br />
<br />

<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3">

                <!-- Profile Image -->
                <div class="card card-outline">
                    <div class="card-body box-profile">

                        <br />
                        <br />
                        <br />
                        <section class="content">
                            <div class="container2">
                                <div>Gün<span class="days"></span></div>
                                <div>Saat<span class="hours"></span></div>
                                <div>Dak<span class="minutes"></span></div>
                                <div>San<span class="seconds"></span></div>
                            </div>
                        </section>
                        <br />
                        <br />
                        <br />



                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
                <!-- About Me Box -->
                <div class="card card-primary">
                    <div class="card-header">
                        <h3 class="card-title">Yarışma Bilgi Alanı</h3>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        <br />
                        <strong><i class="fas fa-book mr-1"></i> Bitiş Tarihi</strong>

                        <p class="text-muted">@ViewBag.competition.EndDate.ToString("dd.MM.yyyy")</p>
                        <hr>
                        <strong><i class="fas fa-book mr-1"></i> Açıklanma Tarihi</strong>

                        <p class="text-muted">@(((DateTime)ViewBag.competition.EndDate).AddDays(7).ToString("dd.MM.yyyy"))</p>

                        <hr>
                        <strong><i class="fas fa-book mr-1"></i> Katılımcı Sayısı</strong>

                        <p class="text-muted">
                           @ViewBag.UserCount
                        </p>

                        <hr>

                        <strong><i class="fas fa-map-marker-alt mr-1"></i> Kategori</strong>

                        <p class="text-muted">Yeni Konut</p>

                        <hr>

                        <strong><i class="fas fa-pencil-alt mr-1"></i> Alan Ölçüsü </strong>

                        <p class="text-muted">
                            <span class="tag tag-danger">360 M2 - 1020 M2</span>
                 
                        </p>

                        <hr>

                        <strong><i class="far fa-file-alt mr-1"></i> Müşteri Notları</strong>

                        <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam fermentum enim neque.</p>

                        <br />
                    </div>

                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
            </div>
            <!-- /.col -->
            <div class="col-md-9">
                <div class="card">
                    <div class="card-header p-2">
                        <ul class="nav nav-pills">
                            <li class="nav-item"><a class="nav-link active" href="#activity" data-toggle="tab">Activity</a></li>
                            <li class="nav-item"><a class="nav-link" href="#timeline" data-toggle="tab">Timeline</a></li>
                            <li class="nav-item"><a class="nav-link" href="#settings" data-toggle="tab">Settings</a></li>
                        </ul>
                    </div><!-- /.card-header -->
                    <div class="card-body">
                        <div class="tab-content">
                            <div class="active tab-pane" id="activity">
                                <div class="container mt-5 mb-5">
                                    <div class="row height d-flex justify-content-center align-items-center">

                                        <div class="col-md-10">

                                            <br />


                                            <div class="card p-3 text-center shadow" style="border-radius: 10px;">
                                                <h4>Yarışma Ödülü</h4>
                                                <h6 class="font-weight-bold display-4" style="color:#2ECC71"> @ViewBag.competition.Price.ToString("N0", new System.Globalization.CultureInfo("tr-TR")) TL</h6>
                                                <br />


                                            </div>




                                            <div class="wrapper">
                                                <br />
                                                <div class="product-img">
                                                    <img src="@ViewBag.mainImage" height="420" width="327">
                                                </div>
                                                <br />
                                                <div class="product-info">
                                                    <div class="product-text">
                                                        <h1>@ViewBag.competition.Name</h1>
                                                        <br />
                                                        @*<h2>by studio and friends</h2>*@
                                                        <p>@ViewBag.competition.Description </p>
                                                    </div>
                                                    <br />

                                                    <br />
                                                </div>

                                            </div>

                                            <div class="tab">
                                                <button class="tablinks" onclick="openCity(event, 'London')">Yorumlar</button>
                                                <button class="tablinks" onclick="openCity(event, 'Paris')">Dökümanlar</button>

                                            </div>

                                            <div id="London" class="tabcontent">

                                                <div class="card">
                                                    <br />
                                                    <div class="card p-3 text-center">
                                                        <h6 class="font-weight-bold display-4" style="color:black">@ViewBag.competition.Name Projesi Yorumları</h6>
                                                    </div>

                                                    <div class="mt-3 d-flex flex-row align-items-center p-3 form-color">
                                                        <img src="@ViewBag.ProfilPhoto" width="50" class="rounded-circle mr-2">
                                                        <form id="commentForm" class="d-flex flex-grow-1">
                                                            <input type="hidden" value="@ViewBag.competition.Id" name="CompetitionId" />
                                                            <textarea id="commentInput" class="form-control mt-2 mr-2" placeholder="Yorumunuzu girin..."></textarea>
                                                            <button type="submit" class="btn btn-success btn-sm mt-2" style="font-size: 0.8rem; background-color:black;">Gönder</button>
                                                        </form>
                                                    </div>

                                                    <div id="commentSection">
                                                        @foreach (var item in Model)
                                                        {
                                                            <div class="d-flex flex-row p-3">
                                                                <img src="@ViewBag.ProfilPhoto" width="40" height="40" class="rounded-circle mr-3">
                                                                <div class="w-100">
                                                                    <div class="d-flex justify-content-between align-items-center">
                                                                        <div class="d-flex flex-row align-items-center">
                                                                            <span class="mr-2">@item.Author.UserName</span>
                                                                            <small class="c-badge">Onaylanmış yorum</small>
                                                                        </div>
                                                                        <small> @item.TimeAgo</small>
                                                                    </div>
                                                                    <p class="text-justify comment-text mb-0"> @item.Content</p>
                                                                </div>
                                                            </div>
                                                        }
                                                    </div>
                                                    <br />
                                                </div>
                                            </div>

                                            <div id="Paris" class="tabcontent">



                                                <h3 class="mt-5 text-muted" style="font-size: 18px;">Proje Dökümantasyonu</h3>
                                                <br />
                                                <ul class="list-unstyled">
                                                    @foreach (var item in @ViewBag.files)
                                                    {
                                                        <li style="margin-bottom: 5px;">
                                                            @if (item.FileType == "image")
                                                            {
                                                                <a href="@item.Address" class="btn-link text-secondary" style="font-size: 16px;" download><i class="far fa-fw fa-image"></i> @item.FileName</a>
                                                            }
                                                            else if (item.FileType == "word")
                                                            {
                                                                <a href="@item.Address" class="btn-link text-secondary" style="font-size: 16px;" download><i class="far fa-fw fa-file-word"></i> @item.FileName</a>
                                                            }
                                                            else if (item.FileType == "pdf")
                                                            {
                                                                <a href="@item.Address" class="btn-link text-secondary" style="font-size: 16px;" download><i class="far fa-fw fa-file-pdf"></i> @item.FileName</a>
                                                            }
                                                            else if (item.FileType == "email")
                                                            {
                                                                <a href="@item.Address" class="btn-link text-secondary" style="font-size: 16px;" download><i class="far fa-fw fa-envelope"></i> @item.FileName</a>
                                                            }
                                                            else
                                                            {
                                                                <a href="@item.Address" class="btn-link text-secondary" style="font-size: 16px;" download>@item.FileName</a>
                                                            }
                                                        </li>
                                                    }
                                                </ul>

                                            </div>




                                            <br />
                                            <br />
                                        </div>

                                        <!-- /.tab-pane -->
                                    </div>
                                    <!-- /.tab-content -->
                                </div><!-- /.card-body -->
                            </div>
                            <!-- /.nav-tabs-custom -->
                        </div>
                        <!-- /.col -->
                    </div>
                    <!-- /.row -->
                </div><!-- /.container-fluid -->
</section>

</html>

<style>



    /* Style the tab */
    .tab {
        overflow: hidden;
        border: 1px solid #ccc;
        background-color: #f1f1f1;
    }

        /* Style the buttons inside the tab */
        .tab button {
            background-color: inherit;
            float: left;
            border: none;
            outline: none;
            cursor: pointer;
            padding: 14px 16px;
            transition: 0.3s;
            font-size: 17px;
        }

            /* Change background color of buttons on hover */
            .tab button:hover {
                background-color: #ddd;
            }

            /* Create an active/current tablink class */
            .tab button.active {
                background-color: #ccc;
            }

    /* Style the tab content */
    .tabcontent {
        display: none;
        padding: 6px 12px;
        border: 1px solid #ccc;
        border-top: none;
    }

    body {
        background-color: #eee;
    }

    .card {
        background-color: #fff;
        border: none;
    }

    .form-color {
        background-color: #fafafa;
    }

    .form-control {
        height: 48px;
        border-radius: 25px;
    }

        .form-control:focus {
            color: #495057;
            background-color: #fff;
            border-color: black;
            outline: 0;
            box-shadow: none;
            text-indent: 10px;
        }

    .c-badge {
        background-color: black;
        color: white;
        height: 20px;
        font-size: 11px;
        width: 92px;
        border-radius: 5px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 2px;
    }

    .comment-text {
        font-size: 13px;
    }

    .wish {
        color: #35b69f;
    }


    .user-feed {
        font-size: 14px;
        margin-top: 12px;
    }

    .container2 {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 30px;
        color: black;
        display: flex;
        justify-content: center;
    }

        .container2 div {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

            .container2 div:not(:last-child) {
                margin-right: 15px;
            }

        .container2 span {
            border: 2px solid;
            padding: 10px 20px;
            border-radius: 6px;
        }

            .container2 span:not(:last-child) {
                margin-right: 10px;
            }


    .wrapper {
        height: auto; /* veya içerik boyutuna uygun bir değer */
        width: auto; /* veya içerik boyutuna uygun bir değer */
        margin: 50px auto;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 7px;
        /* VIA CSS MATIC https://goo.gl/cIbnS */
        -webkit-box-shadow: 0px 14px 32px 0px rgba(0, 0, 0, 0.15);
        -moz-box-shadow: 0px 14px 32px 0px rgba(0, 0, 0, 0.15);
        box-shadow: 0px 14px 32px 0px rgba(0, 0, 0, 0.15);
    }

    .product-img {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 420px;
        width: 327px;
        padding: 20px 0; /* Üst ve alt boşluk */
    }

        .product-img img {
            max-height: calc(100% - 40px); /* Üst ve alt boşlukları çıkar */
            max-width: 100%;
            object-fit: contain;
            border-radius: 7px 0 0 7px;
        }

    .product-info {
        flex: 0 0 327px;
        padding: 20px;
    }

    .product-text {
        margin-top: 20px;
    }

        .product-text h1 {
            margin: 0;
            font-size: 34px;
            color: #474747;
        }

        .product-text h2 {
            margin-bottom: 10px;
            font-size: 13px;
            font-family: 'Raleway', sans-serif;
            font-weight: 400;
            text-transform: uppercase;
            color: #d2d2d2;
            letter-spacing: 0.2em;
        }

        .product-text p {
            margin-bottom: 10px;
            font-size: 15px;
            color: #8d8d8d;
            line-height: 1.7em;
            font-weight: lighter;
        }

    .product-price-btn button {
        float: right;
        display: inline-block;
        height: 50px;
        width: 176px;
        margin: 0 16px 0 40px;
        box-sizing: border-box;
        border: transparent;
        border-radius: 60px;
        font-family: 'Raleway', sans-serif;
        font-size: 14px;
        font-weight: 500;
        text-transform: uppercase;
        letter-spacing: 0.2em;
        color: #ffffff;
        background-color: black;
        cursor: pointer;
        outline: none;
    }

        .product-price-btn button:hover {
            background-color: black;
            box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
        }
</style>



<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<script>




    let endDate = new Date("@ViewBag.EndDate").getTime();

    let counter = setInterval(() => {
        // Get Date Now
        let dateNow = new Date().getTime();
        // Find The Difference Between The Time Now And The Countdown Date
        let dateDiff = endDate - dateNow;

        if (dateDiff <= 0) {
            clearInterval(counter);
            document.querySelector(".countdown-label").innerHTML = 'Yarışma Bitti';
            document.querySelector(".days").innerHTML = '0';
            document.querySelector(".hours").innerHTML = '0';
            document.querySelector(".minutes").innerHTML = '0';
            document.querySelector(".seconds").innerHTML = '0';
            document.querySelector("button").style.display = "none";
        } else {
            let days = Math.floor(dateDiff / (1000 * 60 * 60 * 24));
            let hours = Math.floor((dateDiff % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
            let minutes = Math.floor((dateDiff % (1000 * 60 * 60)) / (1000 * 60));
            let seconds = Math.floor((dateDiff % (1000 * 60)) / 1000);
            document.querySelector(".days").innerHTML =
                days < 100 && days > 10 ? `0${days}` : days < 10 ? `00${days}` : days;
            document.querySelector(".hours").innerHTML = hours < 10 ? `0${hours}` : hours;
            document.querySelector(".minutes").innerHTML =
                minutes < 10 ? `0${minutes}` : minutes;
            document.querySelector(".seconds").innerHTML =
                seconds < 10 ? `0${seconds}` : seconds;
        }
    }, 1000);

    $(function() {
        $('#commentForm').submit(function(e) {
            e.preventDefault();
            var commentText = $('#commentInput').val();
            $.ajax({
                url: '/Blog/Add',
                method: 'POST',
                data: { CompetitionId: $('[name="CompetitionId"]').val(), Content: commentText },
                success: function(response) {
                    if (response.success) {
                        var commentHtml = '<div class="d-flex flex-row p-3"><img src="@ViewBag.ProfilPhoto" width="40" height="40" class="rounded-circle mr-3"><div class="w-100"><div class="d-flex justify-content-between align-items-center"><div class="d-flex flex-row align-items-center"><span class="mr-2">' + response.userName + '</span><small class="c-badge">Top Comment</small></div><small>' + response.timeAgo + '</small></div><p class="text-justify comment-text mb-0">' + response.commentText + '</p></div></div>';
                        $('#commentSection').prepend(commentHtml);
                        $('#commentInput').val(''); // Yorum giriş alanını temizle

                        // SweetAlert kullanarak bildirim göster
                        Swal.fire({
                            icon: 'success',
                            text: 'Yorumunuz gönderildi.',
                        });
                    } else {
                        Swal.fire({
                            icon: 'error',
                            text: 'Yorum gönderilirken bir hata oluştu. Lütfen tekrar deneyin.',
                        });
                    }
                },
                error: function(xhr, status, error) {
                    console.error(error);
                    Swal.fire({
                        icon: 'error',
                        text: 'Yorum gönderilirken bir hata oluştu. Lütfen tekrar deneyin.',
                    });
                }
            });
        });
    });
</script>

<script>

    // İlk başta "London" içeriğini ve ilgili butonu görünür yapma
    document.getElementById("London").style.display = "block";
    document.getElementsByClassName("tablinks")[0].classList.add("active");

    function openCity(evt, cityName) {
        var i, tabcontent, tablinks;
        tabcontent = document.getElementsByClassName("tabcontent");
        for (i = 0; i < tabcontent.length; i++) {
            tabcontent[i].style.display = "none";
        }
        tablinks = document.getElementsByClassName("tablinks");
        for (i = 0; i < tablinks.length; i++) {
            tablinks[i].classList.remove("active");
        }
        document.getElementById(cityName).style.display = "block";
        evt.currentTarget.classList.add("active");
    }
</script>