@using Arch.UI.Models;
@model List<Arch.EntityLayer.Entities.BlogPost>

@{
    ViewBag.Title = "ContentArena";
    Layout = "~/Views/Shared/_CustomerLayout.cshtml";
}


<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>AdminLTE 3 | User Profile</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Font Awesome -->
    <link rel="stylesheet" href="/AdminLTE-3.0.4/plugins/fontawesome-free/css/all.min.css">
    <!-- Ionicons -->
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="/AdminLTE-3.0.4/dist/css/adminlte.min.css">
    <!-- Google Font: Source Sans Pro -->
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">
    <link href="https://cdn.datatables.net/1.13.4/css/dataTables.jqueryui.min.css" rel="stylesheet" />
</head>

<br />
<br />

<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3">

                <!-- Profile Image -->
                <div class="card card-outline">
                    <div class="card-body box-profile">

                        <br />
                        <br />
                        <br />
                        <section class="content">
                            <div class="container2">
                                <div>Gün<span class="days"></span></div>
                                <div>Saat<span class="hours"></span></div>
                                <div>Dak<span class="minutes"></span></div>
                                <div>San<span class="seconds"></span></div>
                            </div>
                        </section>
                        <br />
                        <br />
                        <br />



                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
                <!-- About Me Box -->
                <div class="card card-primary">
                    <div class="card-header">
                        <h3 class="card-title">Yarışma Bilgi Alanı</h3>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        <br />
                        <strong><i class="fas fa-book mr-1"></i> Bitiş Tarihi</strong>

                        <p class="text-muted">@ViewBag.competition.EndDate.ToString("dd.MM.yyyy")</p>
                        <hr>
                        <strong><i class="fas fa-book mr-1"></i> Açıklanma Tarihi</strong>

                        <p class="text-muted">@(((DateTime)ViewBag.competition.EndDate).AddDays(7).ToString("dd.MM.yyyy"))</p>

                        <hr>
                        <strong><i class="fas fa-book mr-1"></i> Katılımcı Sayısı</strong>

                        <p class="text-muted">
                            @ViewBag.UserCount
                        </p>

                        <hr>

                        <strong><i class="fas fa-map-marker-alt mr-1"></i> Kategori</strong>

                        <p class="text-muted">Yeni Konut</p>

                        <hr>

                        <strong><i class="fas fa-pencil-alt mr-1"></i> Alan Ölçüsü </strong>

                        <p class="text-muted">
                            <span class="tag tag-danger">360 M2 - 1020 M2</span>

                        </p>

                        <hr>

                        <strong><i class="far fa-file-alt mr-1"></i> Müşteri Notları</strong>

                        <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam fermentum enim neque.</p>

                        <br />
                    </div>

                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
            </div>
            <!-- /.col -->
            <div class="col-md-9">
                <div class="card">
                    <div class="card-header p-2">
                        <ul class="nav nav-pills">
                            @*           <li class="nav-item"><a class="nav-link active" href="#activity" data-toggle="tab">Activity</a></li>
                            <li class="nav-item"><a class="nav-link" href="#timeline" data-toggle="tab">Timeline</a></li>
                            <li class="nav-item"><a class="nav-link" href="#settings" data-toggle="tab">Settings</a></li>*@

                            <div class="tab">
                                <button class="tablinksHeader" onclick="openHeader(event, 'Detaylar')">Detaylar</button>
                                <button class="tablinksHeader" onclick="openHeader(event, 'ProjeDosyaları')">ProjeDosyaları</button>
                            </div>
                        </ul>
                    </div><!-- /.card-header -->
                    <div class="card-body">
                        <div class="tab-content">
                            <div class="tab-pane" id="Detaylar">
                                <div class="container mt-5 mb-5">
                                    <div class="row height d-flex justify-content-center align-items-center">

                                        <div class="col-md-10">

                                            <br />


                                            <div class="card p-3 text-center shadow" style="border-radius: 10px;">
                                                <h4>Yarışma Ödülü</h4>
                                                <h6 class="font-weight-bold display-4" style="color:#2ECC71"> @ViewBag.competition.Price.ToString("N0", new System.Globalization.CultureInfo("tr-TR")) TL</h6>
                                                <br />


                                            </div>




                                            <div>
                                                <br />
                                                <br />
                                                <div>
                                                    <div class="product-text">
                                                        <h1>@ViewBag.competition.Name</h1>
                                                        <br />
                                                        @*<h2>by studio and friends</h2>*@
                                                        <p>@ViewBag.competition.Description </p>
                                                    </div>
                                                    <br />
                                                    <br />
                                                </div>
                                                @*       <div style="text-align: center;">
                                                <div style="box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4); border-radius: 4px; padding: 10px; display: inline-block;">
                                                <img src="@ViewBag.mainImage" height="400" width="400">
                                                </div>
                                                </div>*@

                                                <br />
                                                <br>
                                                <br />

                                            </div>

                                            <div class="tab">
                                                <button class="tablinks" onclick="openCity(event, 'London')">Yorumlar</button>
                                                <button class="tablinks" onclick="openCity(event, 'Paris')">Dökümanlar</button>

                                            </div>

                                            <div id="London" class="tabcontent">

                                                <div class="card">
                                                    <br />
                                                    <div class="card p-3 text-center">
                                                        <h6 class="font-weight-bold display-4" style="color:black">@ViewBag.competition.Name Projesi Yorumları</h6>
                                                    </div>

                                                    <div class="mt-3 d-flex flex-row align-items-center p-3 form-color">
                                                        <img src="@ViewBag.ProfilPhoto" width="50" height="50" class="rounded-circle mr-3">
                                                        <form id="commentForm" class="d-flex flex-grow-1">
                                                            <input type="hidden" value="@ViewBag.competition.Id" name="CompetitionId" />
                                                            <textarea id="commentInput" class="form-control mt-2 mr-2" placeholder="Yorumunuzu girin..."></textarea>
                                                            <button type="submit" class="btn btn-success btn-sm mt-2" style="font-size: 0.8rem; background-color:black;">Gönder</button>
                                                        </form>
                                                    </div>

                                                    <div id="commentSection">
                                                        @foreach (var item in Model)
                                                        {
                                                            <div class="d-flex flex-row p-3">
                                                                <img src="@item.Author.ProfilPhoto" width="40" height="40" class="rounded-circle mr-3">
                                                                <div class="w-100">
                                                                    <div class="d-flex justify-content-between align-items-center">
                                                                        <div class="d-flex flex-row align-items-center">
                                                                            <span class="mr-2">@item.Author.UserName</span>
                                                                            <small class="c-badge">Onaylanmış yorum</small>
                                                                        </div>
                                                                        <small> @item.TimeAgo</small>
                                                                    </div>
                                                                    <p class="text-justify comment-text mb-0"> @item.Content</p>
                                                                </div>
                                                            </div>
                                                        }
                                                    </div>
                                                    <br />
                                                </div>
                                            </div>

                                            <div id="Paris" class="tabcontent">



                                                <h3 class="mt-5 text-muted" style="font-size: 18px;">Proje Dökümantasyonu</h3>
                                                <br />
                                                <ul class="list-unstyled">
                                                    @foreach (var item in @ViewBag.files)
                                                    {
                                                        <li style="margin-bottom: 5px;">
                                                            @if (item.FileType == "image")
                                                            {
                                                                <a href="@item.Address" class="btn-link text-secondary" style="font-size: 16px;" download><i class="far fa-fw fa-image"></i> @item.FileName</a>
                                                            }
                                                            else if (item.FileType == "word")
                                                            {
                                                                <a href="@item.Address" class="btn-link text-secondary" style="font-size: 16px;" download><i class="far fa-fw fa-file-word"></i> @item.FileName</a>
                                                            }
                                                            else if (item.FileType == "pdf")
                                                            {
                                                                <a href="@item.Address" class="btn-link text-secondary" style="font-size: 16px;" download><i class="far fa-fw fa-file-pdf"></i> @item.FileName</a>
                                                            }
                                                            else if (item.FileType == "email")
                                                            {
                                                                <a href="@item.Address" class="btn-link text-secondary" style="font-size: 16px;" download><i class="far fa-fw fa-envelope"></i> @item.FileName</a>
                                                            }
                                                            else
                                                            {
                                                                <a href="@item.Address" class="btn-link text-secondary" style="font-size: 16px;" download>@item.FileName</a>
                                                            }
                                                        </li>
                                                    }
                                                </ul>

                                            </div>




                                            <br />
                                            <br />
                                        </div>

                                        <!-- /.tab-pane -->
                                    </div>
                                    <!-- /.tab-content -->
                                </div><!-- /.card-body -->
                            </div>


                            @if (User.IsInRole("Customer"))
                            {
                                <div class="tab-pane" id="ProjeDosyaları">
                                    <br>
                                    <h1 style="color:slateblue" class="text-center">Tasarımcıların Yüklediği Projeler / <a href="@Url.Action("DownloadCompetitionFiles", new { competitionId = @ViewBag.competition.Id })">Tüm Projeleri İndir</a></h1>
                                    
                                   
                                    <br>
                                    <div style="text-align: center;">
                                        <input style="background-color: slateblue; color: white; margin-left: 10px;" type="button" value="Ödül Ver" onclick="showConfirmationDialog()" />
                                        <input style="background-color: slateblue; color: white; margin-left: 10px;" type="button" value="Ödülleri Yeniden Seç" onclick="resetSelections()" />
                                    </div>
                                    <br>
                                    <br>
                                    <br>
                                    <form id="rewardForm" method="post" action="@Url.Action("SaveSelections", "Reward")">
                                        <table id="designers" class="table">
                                            <thead>
                                                <tr>
                                                    <th>Tasarımcı</th>
                                                    <th>İndir</th>
                                                    <th>Tasarımcı Seç</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @{
                                                    int Count = 0;
                                                }
                                                @foreach (var designer in ViewBag.groupedData as List<DesignerFiles>)
                                                {
                                                    <tr>
                                                        <td>@designer.Name</td>
                                                        <td>
                                                            <a href="@Url.Action("DownloadCompetitionFiles", new { designerName = @ViewBag.competition.Name })" download>
                                                                <i class="fas fa-download"></i>
                                                            </a>
                                                        </td>
                                                        <td>
                                                            @{
                                                                int selectedOption = designer.SelectedOption;
                                                                bool hasSelection = selectedOption != 0;
                                                            }
                                                            @if (hasSelection)
                                                            {
                                                                <p>@selectedOption. olarak seçildi</p>
                                                            }
                                                            else
                                                            {
                                                                <select class="ranking-select" name="selections[@Count].SelectedOption" onchange="disableSelection(this)">
                                                                    <option value="">Seçim Yap</option>
                                                                    @for (int j = 1; j <= 3; j++)
                                                                    {
                                                                        bool isSelected = j == selectedOption;
                                                                        <option value="@j" @(isSelected ? "selected" : "")>@j. olarak seç</option>
                                                                    }
                                                                </select>
                                                            }
                                                            <input type="hidden" name="selections[@Count].DesignerId" value="@designer.DesignerId" />
                                                            <input type="hidden" name="selections[@Count].DesignerName" value="@designer.Name" />
                                                            <input type="hidden" name="selections[@Count].CompetitionId" value="@ViewBag.compId" />
                                                        </td>
                                                    </tr>
                                                    Count++;
                                                }

                                            </tbody>
                                       @*     <tfoot>
                                                <tr>
                                                    <td colspan="3">
                                                        <input style="background-color: slateblue; color: white; margin-left: 10px;" type="button" value="Ödül Ver" onclick="showConfirmationDialog()" />
                                                        <input style="background-color: slateblue; color: white; margin-left: 10px;" type="button" value="Ödülleri Yeniden Seç" onclick="resetSelections()" />
                                                    </td>
                                                </tr>
                                            </tfoot>*@
                                        </table>
                                    </form>




                                </div>

                            }

                            @if (User.IsInRole("Designer"))
                            {
                                <div class="tab-pane" id="ProjeDosyaları">
                                    <br />
                                    <br />
                                    <h4 id="fileStatus">Yarışma için hiç dosya yüklemediniz, yarışmaya katılmak için dosya yükleyin.</h4>
                                    <br />
                                    <br />
                                    <input type="file" id="fileInput" multiple />
                                    <button id="uploadButton">Upload</button>

                                    <div id="fileList"></div>
                                </div>

                            }

                            <!-- /.nav-tabs-custom -->
                        </div>
                        <!-- /.col -->
                    </div>
                    <!-- /.row -->
                </div><!-- /.container-fluid -->
</section>

</html>

<style>

    #designers {
        font-family: Arial, Helvetica, sans-serif;
        border-collapse: collapse;
        width: 100%;
        border-radius: 10px;
        overflow: hidden;
    }

        #designers td,
        #designers th {
            border: 1px solid #ddd;
            padding: 8px;
            text-align: center;
        }

        #designers tr:nth-child(even) {
            background-color: #f2f2f2;
        }

        #designers tr:hover {
            background-color: #ddd;
        }

        #designers th {
            padding-top: 12px;
            padding-bottom: 12px;
            text-align: center;
            background-color: #6A5ACD;
            color: white;
        }

    .ranking-select {
        cursor: pointer;
    }

        .ranking-select option:hover {
            background-color: #6A5ACD;
            color: white;
        }

    #fileInput {
        margin-bottom: 10px;
    }

    #uploadButton {
        padding: 10px 20px;
        background-color: #4caf50;
        color: #fff;
        border: none;
        cursor: pointer;
    }

    #fileList {
        margin-top: 20px;
    }

    .file-item {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 10px;
        margin-bottom: 10px;
        background-color: #f1f1f1;
        border-radius: 4px;
    }

        .file-item span {
            margin-right: 10px;
        }

        .file-item button {
            padding: 5px 10px;
            background-color: #e74c3c;
            color: #fff;
            border: none;
            cursor: pointer;
        }

    /* Style the tab */
    .tab {
        overflow: hidden;
        border: 1px solid #ccc;
        background-color: #f1f1f1;
    }

        /* Style the buttons inside the tab */
        .tab button {
            background-color: inherit;
            float: left;
            border: none;
            outline: none;
            cursor: pointer;
            padding: 14px 16px;
            transition: 0.3s;
            font-size: 17px;
        }

            /* Change background color of buttons on hover */
            .tab button:hover {
                background-color: #ddd;
            }

            /* Create an active/current tablink class */
            .tab button.active {
                background-color: #ccc;
            }

    /* Style the tab content */
    .tabcontent {
        display: none;
        padding: 6px 12px;
        border: 1px solid #ccc;
        border-top: none;
    }

    body {
        background-color: #eee;
    }

    .card {
        background-color: #fff;
        border: none;
    }

    .form-color {
        background-color: #fafafa;
    }

    .form-control {
        height: 48px;
        border-radius: 25px;
    }

        .form-control:focus {
            color: #495057;
            background-color: #fff;
            border-color: black;
            outline: 0;
            box-shadow: none;
            text-indent: 10px;
        }

    .c-badge {
        background-color: black;
        color: white;
        height: 20px;
        font-size: 11px;
        width: 92px;
        border-radius: 5px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 2px;
    }

    .comment-text {
        font-size: 13px;
    }

    .wish {
        color: #35b69f;
    }


    .user-feed {
        font-size: 14px;
        margin-top: 12px;
    }

    .container2 {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 30px;
        color: black;
        display: flex;
        justify-content: center;
    }

        .container2 div {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

            .container2 div:not(:last-child) {
                margin-right: 15px;
            }

        .container2 span {
            border: 2px solid;
            padding: 10px 20px;
            border-radius: 6px;
        }

            .container2 span:not(:last-child) {
                margin-right: 10px;
            }


    .wrapper {
        height: auto; /* veya içerik boyutuna uygun bir değer */
        width: auto; /* veya içerik boyutuna uygun bir değer */
        margin: 50px auto;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 7px;
        /* VIA CSS MATIC https://goo.gl/cIbnS */
        -webkit-box-shadow: 0px 14px 32px 0px rgba(0, 0, 0, 0.15);
        -moz-box-shadow: 0px 14px 32px 0px rgba(0, 0, 0, 0.15);
        box-shadow: 0px 14px 32px 0px rgba(0, 0, 0, 0.15);
    }

    .product-img {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 420px;
        width: 327px;
        padding: 20px 0; /* Üst ve alt boşluk */
    }

        .product-img img {
            max-height: calc(100% - 40px); /* Üst ve alt boşlukları çıkar */
            max-width: 100%;
            object-fit: contain;
            border-radius: 7px 0 0 7px;
        }

    .product-info {
        flex: 0 0 327px;
        padding: 20px;
    }

    .product-text {
        margin-top: 20px;
    }

        .product-text h1 {
            margin: 0;
            font-size: 34px;
            color: #474747;
        }

        .product-text h2 {
            margin-bottom: 10px;
            font-size: 13px;
            font-family: 'Raleway', sans-serif;
            font-weight: 400;
            text-transform: uppercase;
            color: #d2d2d2;
            letter-spacing: 0.2em;
        }

        .product-text p {
            margin-bottom: 10px;
            font-size: 15px;
            color: #8d8d8d;
            line-height: 1.7em;
            font-weight: lighter;
        }

    .product-price-btn button {
        float: right;
        display: inline-block;
        height: 50px;
        width: 176px;
        margin: 0 16px 0 40px;
        box-sizing: border-box;
        border: transparent;
        border-radius: 60px;
        font-family: 'Raleway', sans-serif;
        font-size: 14px;
        font-weight: 500;
        text-transform: uppercase;
        letter-spacing: 0.2em;
        color: #ffffff;
        background-color: black;
        cursor: pointer;
        outline: none;
    }

        .product-price-btn button:hover {
            background-color: black;
            box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
        }
</style>




<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.13.4/js/dataTables.jqueryui.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>



<script>
    $(document).ready(function () {

        $('#designers').DataTable({
            "language": {
                "url": "//cdn.datatables.net/plug-ins/1.10.20/i18n/Turkish.json"
            }
        });

        var competitionId = @ViewBag.competition.Id; // Competition ID değerini burada belirleyin

        // Dosyaların yüklenmesi
        $('#uploadButton').on('click', function () {
            var files = $('#fileInput')[0].files;
            if (files.length === 0) {
                Swal.fire('Hata', 'Lütfen yüklenmesi için bir dosya seçin.', 'error');
                return;
            }

            var formData = new FormData();
            formData.append('competitionId', competitionId);

            for (var i = 0; i < files.length; i++) {
                formData.append('files', files[i]);
            }

            $.ajax({
                url: '/File/Upload',
                type: 'POST',
                data: formData,
                processData: false,
                contentType: false,
                success: function (result) {
                    showFileList(result);
                    Swal.fire('Başarılı', 'Dosya başarı ile yüklendi.', 'success');
                },
                error: function (xhr, status, error) {
                    Swal.fire('Hata', 'Dosya yüklenirken bir hata oluştu.', 'error');
                    console.error(error);
                }
            });
        });

        // Dosyaların listelenmesi
        function showFileList(files) {
            var fileList = $('#fileList');
            fileList.empty();

            if (files.length === 0) {
                $('#fileStatus').text('Yarışma için hiç dosya yüklemediniz, yarışmaya katılmak için dosya yükleyin.');
                return;
            }

            $('#fileStatus').text(files.length + ' tane Proje Dosyası yüklediniz. Yarışmaya katılımınız başarılı, sonucu bekleyebilirsiniz.');

            for (var i = 0; i < files.length; i++) {
                var file = files[i];

                var fileItem = $('<div>').addClass('file-item');
                var fileName = $('<span>').text(file.address).addClass('file-name');
                var removeButton = $('<button>').text('Kaldır').attr('data-file-id', file.id).addClass('remove-button');

                removeButton.on('click', function () {
                    var fileId = $(this).attr('data-file-id');
                    removeFile(fileId);
                });

                fileItem.append(fileName);
                fileItem.append(removeButton);
                fileList.append(fileItem);

                if (i !== files.length - 1) {
                    fileList.append($('<div>').addClass('spacer'));
                }
            }
        }

        // Dosyanın kaldırılması
        function removeFile(fileId) {
            Swal.fire({
                title: 'Uyarı',
                text: 'Bu dosyayı kaldırmak istediğinize emin misiniz?',
                icon: 'warning',
                showCancelButton: true,
                confirmButtonText: 'Kaldır',
                cancelButtonText: 'Vazgeç'
            }).then(function (result) {
                if (result.isConfirmed) {
                    $.ajax({
                        url: '/File/Remove',
                        type: 'POST',
                        data: { fileId: fileId },
                        success: function () {
                            Swal.fire('Başarılı', 'Dosya başarı ile kaldırıldı.', 'success');
                            getFileList(); // Dosya listesini güncelle
                        },
                        error: function (xhr, status, error) {
                            Swal.fire('Error', 'Dosya kaldırılırken bir hata oluştu.', 'error');
                            console.error(error);
                        }
                    });
                }
            });
        }

        // Dosya listesini getirme
        function getFileList() {
            $.ajax({
                url: '/File/Get',
                type: 'GET',
                data: { competitionId: competitionId },
                success: function (result) {
                    showFileList(result);
                },
                error: function (xhr, status, error) {
                    Swal.fire('Error', 'An error occurred while getting the file list.', 'error');
                    console.error(error);
                }
            });
        }

        // Sayfa yüklendiğinde dosya listesini getir
        getFileList();
    });
</script>

<script>




    let endDate = new Date("@ViewBag.EndDate").getTime();

    let counter = setInterval(() => {
        // Get Date Now
        let dateNow = new Date().getTime();
        // Find The Difference Between The Time Now And The Countdown Date
        let dateDiff = endDate - dateNow;

        if (dateDiff <= 0) {
            clearInterval(counter);
            document.querySelector(".countdown-label").innerHTML = 'Yarışma Bitti';
            document.querySelector(".days").innerHTML = '0';
            document.querySelector(".hours").innerHTML = '0';
            document.querySelector(".minutes").innerHTML = '0';
            document.querySelector(".seconds").innerHTML = '0';
            document.querySelector("button").style.display = "none";
        } else {
            let days = Math.floor(dateDiff / (1000 * 60 * 60 * 24));
            let hours = Math.floor((dateDiff % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
            let minutes = Math.floor((dateDiff % (1000 * 60 * 60)) / (1000 * 60));
            let seconds = Math.floor((dateDiff % (1000 * 60)) / 1000);

            // Sadece tek bir sıfır varsa göster
            days = days === 0 ? '0' : days.toString();
            hours = hours === 0 ? '0' : hours.toString().padStart(2, '0');
            minutes = minutes === 0 ? '0' : minutes.toString().padStart(2, '0');
            seconds = seconds === 0 ? '0' : seconds.toString().padStart(2, '0');

            document.querySelector(".days").innerHTML = days;
            document.querySelector(".hours").innerHTML = hours;
            document.querySelector(".minutes").innerHTML = minutes;
            document.querySelector(".seconds").innerHTML = seconds;
        }
    }, 1000);

    $(function () {
        $('#commentForm').submit(function (e) {
            e.preventDefault();
            var commentText = $('#commentInput').val();
            $.ajax({
                url: '/Blog/Add',
                method: 'POST',
                data: { CompetitionId: $('[name="CompetitionId"]').val(), Content: commentText },
                success: function (response) {
                    if (response.success) {
                        var commentHtml = '<div class="d-flex flex-row p-3"><img src="@ViewBag.ProfilPhoto" width="40" height="40" class="rounded-circle mr-3"><div class="w-100"><div class="d-flex justify-content-between align-items-center"><div class="d-flex flex-row align-items-center"><span class="mr-2">' + response.userName + '</span><small class="c-badge">Top Comment</small></div><small>' + response.timeAgo + '</small></div><p class="text-justify comment-text mb-0">' + response.commentText + '</p></div></div>';
                        $('#commentSection').prepend(commentHtml);
                        $('#commentInput').val(''); // Yorum giriş alanını temizle

                        // SweetAlert kullanarak bildirim göster
                        Swal.fire({
                            icon: 'success',
                            text: 'Yorumunuz gönderildi.',
                        });
                    } else {
                        Swal.fire({
                            icon: 'error',
                            text: 'Yorum gönderilirken bir hata oluştu. Lütfen tekrar deneyin.',
                        });
                    }
                },
                error: function (xhr, status, error) {
                    console.error(error);
                    Swal.fire({
                        icon: 'error',
                        text: 'Yorum gönderilirken bir hata oluştu. Lütfen tekrar deneyin.',
                    });
                }
            });
        });
    });
</script>

<script>

    // İlk başta "London" içeriğini ve ilgili butonu görünür yapma
    document.getElementById("London").style.display = "block";
    document.getElementsByClassName("tablinks")[0].classList.add("active");

    function openCity(evt, cityName) {
        var i, tabcontent, tablinks;
        tabcontent = document.getElementsByClassName("tabcontent");
        for (i = 0; i < tabcontent.length; i++) {
            tabcontent[i].style.display = "none";
        }
        tablinks = document.getElementsByClassName("tablinks");
        for (i = 0; i < tablinks.length; i++) {
            tablinks[i].classList.remove("active");
        }
        document.getElementById(cityName).style.display = "block";
        evt.currentTarget.classList.add("active");
    }
</script>


<script>
    // İlk başta "Detaylar" içeriğini ve ilgili butonu görünür yapma
    document.getElementById("Detaylar").style.display = "block";
    document.getElementsByClassName("tablinksHeader")[0].classList.add("active");

    function openHeader(evt, cityName) {
        var i, tabcontent, tablinks;
        tabcontent = document.getElementsByClassName("tab-pane");
        for (i = 0; i < tabcontent.length; i++) {
            tabcontent[i].style.display = "none";
        }
        tablinks = document.getElementsByClassName("tablinksHeader");
        for (i = 0; i < tablinks.length; i++) {
            tablinks[i].classList.remove("active");
        }
        document.getElementById(cityName).style.display = "block";
        evt.currentTarget.classList.add("active");
    }
</script>



@if ((int)ViewData["PaymentStatus"] == 1)
{
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.0.20/dist/sweetalert2.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11.0.20/dist/sweetalert2.min.css" />

    <script>
        Swal.fire({
            title: "Ödeme İşlemi Tamamlandı!",
            text: "Yarışmanız yayınlanmaya başlamıştır.",
            icon: "success",
            confirmButtonText: "Tamam"
        });
    </script>
}

<script>
    function resetSelections() {
        var selectElements = document.getElementsByClassName('ranking-select');

        // Tüm seçim kutularını dolaş
        for (var i = 0; i < selectElements.length; i++) {
            var selectElement = selectElements[i];

            // Seçili öğeyi temizle
            selectElement.selectedIndex = 0;

            // Tüm seçenekleri aktif hale getir
            for (var j = 0; j < selectElement.options.length; j++) {
                selectElement.options[j].disabled = false;
            }
        }
    }

    function disableSelection(selectedOption) {
        var selectElements = document.getElementsByClassName('ranking-select');

        // Seçilen ödül
        var selectedValue = selectedOption.value;

        // Diğer seçim kutularını dolaş
        for (var i = 0; i < selectElements.length; i++) {
            var selectElement = selectElements[i];

            // Seçilen ödülü pasif yapma
            selectElement.options[selectedValue].disabled = true;

            // Seçilen ödülü içeren başka bir seçenek seçiliyse, pasif olanı aktif yapma
            if (selectElement.selectedIndex !== -1 && selectElement.options[selectElement.selectedIndex].value === selectedValue) {
                selectElement.options[selectedValue].disabled = false;
            }
        }
    }
</script>

<script>
    function showConfirmationDialog() {
        var selections = document.querySelectorAll('.ranking-select');
        var confirmationText = '';

        var anySelectionMade = false; // Herhangi bir seçim yapıldı mı?

        for (var i = 0; i < selections.length; i++) {
            var selectedOption = selections[i].value;
            var designerName = selections[i].closest('tr').querySelector('td:first-child').textContent.trim();

            if (selectedOption !== '') {
                anySelectionMade = true;
                confirmationText += "<strong>" + designerName + "</strong> adlı kişiye " + selectedOption + ". lik ödülü verilecektir.<br>";
            }
        }

        if (!anySelectionMade) {
            Swal.fire({
                title: 'Uyarı',
                text: 'Hiçbir seçim yapmadınız.',
                icon: 'warning'
            });
            return;
        }

        Swal.fire({
            title: 'Onaylıyor musunuz?',
            html: confirmationText,
            icon: 'warning',
            showCancelButton: true,
            confirmButtonText: 'Evet, onaylıyorum',
            cancelButtonText: 'Hayır',
        }).then((result) => {
            if (result.isConfirmed) {
                // Form gönderme işlemi
                handleFormSubmit();
            }
        });
    }

    function handleFormSubmit() {
        // AJAX isteğiyle form verilerini gönder
        var form = document.getElementById('rewardForm');
        var formData = new FormData(form);

        var xhr = new XMLHttpRequest();
        xhr.open(form.method, form.action, true);
        xhr.onreadystatechange = function () {
            if (xhr.readyState === XMLHttpRequest.DONE) {
                if (xhr.status === 200) {
                    var response = JSON.parse(xhr.responseText);
                    if (response.success) {
                        Swal.fire({
                            title: 'Başarılı',
                            text: 'Ödüller başarıyla dağıtılmıştır.',
                            icon: 'success'
                        });
                    } else {
                        Swal.fire({
                            title: 'Hata',
                            text: 'Ödüller dağıtılırken bir hata oluştu.',
                            icon: 'error'
                        });
                    }
                } else {
                    Swal.fire({
                        title: 'Hata',
                        text: 'Sunucu hatası. Lütfen daha sonra tekrar deneyin.',
                        icon: 'error'
                    });
                }
            }
        };
        xhr.send(formData);
    }

    function disableSelectedOptions(selectedOptions) {
        for (var i = 0; i < selectedOptions.length; i++) {
            var designerName = selectedOptions[i].designer;
            var selectElement = getSelectElementByDesignerName(designerName);
            if (selectElement) {
                selectElement.disabled = true;
            }
        }
    }

    function getSelectElementByDesignerName(designerName) {
        var options = document.querySelectorAll('.ranking-select');
        for (var i = 0; i < options.length; i++) {
            var currentDesignerName = options[i].closest('tr').querySelector('td:first-child').textContent.trim();
            if (currentDesignerName === designerName) {
                return options[i];
            }
        }
        return null;
    }
</script>
